.btn-brown {
    background-color: #ECE2DA !important;
}

.btn-brown:hover {
    background-color: #dec7b2 !important;
}

.brownlink {
    color: #8a5626 !important;
}

.bg-light {
    background-color: #d0b69f !important;
}

.bg-brown {
    background-color: #ece2da !important;
}

.brown-text {
    color: #8a5626 !important;
}