
.leftnav {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: -25px;
}

.rightnav {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-family: arial, sans-serif;
    font-size: 14px;
}

.rightnavadvanced {
    margin-top: -50px;
    margin-right: 8px;
}

li {
    margin-top: 25px;
    margin-right: 25px;
}

a {
    text-decoration: none;
}

/* unvisited link */
a:link {
    color: black;
  }
  
  /* visited link */
  a:visited {
    color: black; 
  }
  
  /* mouse over link */
  a:hover {
    color: black !important;
    text-decoration: underline;
  }
  
  /* selected link */
  a:active {
    color: black;
  }

  .center {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .topspace {
    margin-top: 130px;
  }

  .googleinput {
    display: flex;
    z-index: 3;
    position: relative;
    min-height: 44px;
    background: #fff;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    margin-top: 20px;
    width: 525px;
    padding-left: 15px;
    padding-right: 10px;
    justify-content: center;
  }

  .googleinput:hover {
    box-shadow: 0 1px 6px rgba(32, 33, 36, .28);
    border-color: transparent;
  }

  .searchbutton {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial, sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    margin-top: 25px;
    margin-left: 8px;
    margin-right: 8px;
  }

  .searchbutton:hover {
    box-shadow: 0 1px 6px rgba(32, 33, 36, .28);
    border-color: transparent;
  }

  .advancedsearchtitle {
    color: #d93025;
    font-family: arial, sans-serif;
    font-size: 20px;
    margin-left: 30px;
    margin-top: 50px;
  }

  .line {
    border-bottom: 1px solid #ebebeb;
    margin-top: 15px;
    margin-bottom: 30px;
  }

  .row {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .container {
    margin-left: 20px !important;
  }

  .advancedsearchh1 {
    font-family: arial, sans-serif;
    font-size: 16px;
  }

  .advancedsearchh2 {
    font-family: arial, sans-serif;
    font-size: 13px;
    font-weight: bold;
    color: grey;
  }

  .advancedsearchtype {
    font-family: arial, sans-serif;
    font-size: 14px;
    padding-top: 2px;
  }

  .advancedsearchinput {
    border: 1px solid #ccc;
    width: 180px;
    height: 30px;
    float: left;
    display: inline-block;
    vertical-align: middle;
    padding-left: -50px;
  }

  .advancedsearchinstructions {
    font-family: arial, sans-serif;
    font-size: 11px;
    color: grey;
    padding-top: 5px;
    padding-left: 30px;
  }

  .advancedbutton {
    ox-shadow: none;
    background-color: #4d90fe;
    border: 1px solid #3079ed;
    color: #fff;
    height: 30px;
    width: 120px;
    border-radius: 2px;
    cursor: default;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    background-image: -webkit-linear-gradient(top, #4d90fe, #4787ed);
  }

  .advancedbutton:hover {
    background-image: linear-gradient(#4d90fe, #3b72ca);
  }
  

