{% extends "auctions/layout.html" %}

{% block body %}

    {% if user.is_authenticated %}

        {% if message_green_alert %}
            <div class="alert alert-success" role="alert">
                {{ message_green_alert }}
            </div>
        {% endif %}

        {% if message_red_alert %}
            <div class="alert alert-danger" role="alert">
                {{ message_red_alert }}
            </div>
        {% endif %}

        <h2 class="text-center">Auctions Won</h2>

        <br>

        {% if listings %}
            <div class="row text-center">
                {% for listing in listings %}
                <div class="card mx-auto" style="width: 20rem;">
                    <img class="card-img-top" src="{{ listing.image_url }}" alt="{{ listing.title }}">
                    <div class="card-body">
                        <h4 class="card-title">{{ listing.title }}</h4>
                        <p class="card-text">{{ listing.description }}</p>
                        <br>
                        <h6 class="card-text">Starting Price: ${{ listing.initial_price|floatformat:2 }}</h6>
                        <h6 class="card-text">
                            <div class="mb-1">Final Bidding Price: </div> 
                            <div>${{ listing.current_highest_bid.highest_bid|floatformat:2 }}</div>
                        </h6>
                        <h6 class="card-text mt-3"><strong>Winner: {{ listing.winner|capfirst }}</strong></h6>
                        <br>
                        <a href="{% url 'listing' id=listing.id %}" class="btn btn-brown">See details</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        {% else %}
            <br>
            <p class="text-center">No bidding auctions won yet</p>
        {% endif %}

    {% endif %}
    
{% endblock %}