{% extends "auctions/layout.html" %}

{% block body %}

    {% if watchlist_alert %}
        <div class="alert alert-success" role="alert">
            {{ watchlist_alert }}
        </div>
    {% endif %}

    {% if comment_alert %}
        <div class="alert alert-danger" role="alert">
            {{ comment_alert }}
        </div>
    {% endif %}

    <div class="text-center">
        <h2>{{ listing.title }}</h2>
        <img src="{{ listing.image_url }}" alt="{{ listing.title }}" height="400px">
        <p><strong>Description:</strong> {{ listing.description }}</p>
        <p><strong>Current Price: </strong>${{ listing.price|floatformat:2 }}</p>
        <p><strong>Category:</strong> {{ listing.category }}</p>
        <p><strong>Listing Owner: </strong>{{ listing.owner }}</p>
    </div>


    {% if user.is_authenticated %}
        {% if not in_watchlist %}
            <form class="text-center" action="{% url 'add_watchlist' id=listing.id %}" action="post">
                {% csrf_token %}
                <input type="hidden" name="listing_id" value="{{ listing.id }}">
                <button type="submit" class="btn btn-dark">Add to Watchlist</button>
            </form>
        {% else %}
            <form class="text-center" action="{% url 'remove_watchlist' id=listing.id %}" action="post">
                {% csrf_token %}
                <input type="hidden" name="listing_id" value="{{ listing.id }}">
                <button type="submit" class="btn btn-outline-dark">Remove from Watchlist</button>
            </form>
        {% endif %}
    {% endif %}
    <br>
    <br>

    <div class="card" style="width: 90rem;">
        <div class="card-header">
          <h5>Comments</h5>
        </div>
        {% if comments %}
            <ul class="list-group list-group-flush">
                {% for comment in comments %}
                    <li class="list-group-item p-4 row">
                        <p>{{ comment.text }}</p>
                        <p><small><i>Commented by: {{ comment.user.username }} ({{ comment.date_time }})</i></small></p>
                        {% if request.user == comment.user %}
                            <form action="{% url 'delete_comment' id=listing.id %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="delete_comment" value="{{ comment.id }}">
                                <button type="submit" class="btn btn-sm btn-outline-dark ml-2">Delete Comment</button>
                            </form>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p class="p-3">No comments</p>
        {% endif %}
    </div>

    <br>

    {% if user.is_authenticated %}
        <form class="text-center" action="{% url 'add_comment' id=listing.id %}" method="post">
            {% csrf_token %}
            <label><strong>Add Comment: </strong></label>
            <input class="col-9 ml-2" type="text" name="comment">
            <button type="submit" class="btn btn-dark ml-2">Add Comment</button>
        </form>
    {% endif %}

{% endblock %}