{% extends "auctions/layout.html" %}

{% block body %}

    {% if user.is_authenticated %}

        <h2 class="text-center">Watchlist</h2>

        <br>

        {% if listings %}
            <div class="row text-center">
                {% for listing in listings %}
                <div class="card mx-auto" style="width: 20rem;">
                    <img class="card-img-top" src="{{ listing.image_url }}" alt="{{ listing.title }}">
                    <div class="card-body">
                        <h4 class="card-title">{{ listing.title }}</h4>
                        <p class="card-text">{{ listing.description }}</p>
                        <br>
                        <h6 class="card-text">Starting Price: ${{ listing.initial_price|floatformat:2 }}</h6>
                        <h6 class="card-text">
                            <div class="mb-1">Highest Bidding Price: </div> 
                            {% if listing.current_highest_bid %}
                                <div>${{ listing.current_highest_bid.highest_bid|floatformat:2 }}</div>
                                <div class="smaller_text mt-1"><i>(made by {{ listing.current_highest_bid.user.username|capfirst }})</i></div>
                            {% else %}
                                <div>No bids made yet</div>
                            {% endif %}
                        </h6>
                        <br>
                        <a href="{% url 'listing' id=listing.id %}" class="btn btn-brown">See details</a>
                        <br><br>
                        <form class="text-center" action="{% url 'remove_watchlist' id=listing.id %}" action="post">
                            {% csrf_token %}
                            <input type="hidden" name="listing_id" value="{{ listing.id }}">
                            <button type="submit" class="btn btn-brown">Remove from Watchlist</button>
                        </form>
                    </div>
                </div>
                {% endfor %}
            </div>
        {% else %}
            <br>
            <p class="text-center">No items currently in the watchlist</p>
        {% endif %}

    {% endif %}
    
{% endblock %}