{% extends "auctions/layout.html" %}

{% block body %}

    {% if user.is_authenticated %}

        <h2 class="text-center">Watchlist</h2>

        {% if listings %}
            <div class="row">
                {% for listing in listings %}
                <div class="card mx-auto" style="width: 20rem;">
                    <img class="card-img-top" src="{{ listing.image_url }}" alt="{{ listing.title }}">
                    <div class="card-body">
                    <h4 class="card-title">{{ listing.title }}</h4>
                    <p class="card-text">{{ listing.description }}</p>
                    <br>
                    <h6 class="card-text">Current Price: $ {{ listing.price|floatformat:2 }}</h6>
                    <br>
                    <a href="{% url 'listing' id=listing.id %}" class="btn btn-dark">See details</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        {% else %}
            <br>
            <p class="text-center">No items currently in the watchlist</p>
        {% endif %}

    {% endif %}
    
{% endblock %}