{% extends "network/layout.html" %}

{% block body %}

    <h2 class="px-5 py-2">Create New Post</h2>

    {% if message %}
        <div class="px-5 py-2">{{ message }}</div>
    {% endif %}

    <form class="px-5 py-2" action="{% url 'create' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label>Post Content:</label>
            <textarea class="form-control" name="content" rows="5"></textarea>
          </div>
        <input class="btn btn-brown" type="submit" value="Post">
    </form>

{% endblock %}